@font-face{
    font-family: neu;
    src : url(neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf);
}
@font-face{
    font-family: light;
    src : url(/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf);
}
@font-face{
    font-family: bold;
    src : url(/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBold.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html, body {
    height: 100%;
    width: 100%;
}

#main{
    /* background-color: black; */
    position: relative;
    z-index: 10;
}
#page1 {
    min-height: 100vh;
    min-width: 100%;
    background-color: rgb(239, 234, 227);
    position: relative; 
    padding: 3vw;


}

nav{
    /* padding: 5vw 2vw; */
    padding-left: 1.7vw;
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-top; */
}
nav img{
    height: 68px;
}
#nav-p2{
    align-items: center;
    display: flex;
    gap: 1vw;
}
#nav-p2 h4{
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 50px;
    border-color: rgba(0, 0, 0, 0.41);
    font-weight: 500;
    color: rgb(92, 92, 92);
    size: 18px;
    position: relative;
    overflow: hidden;   
}
#nav-p2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    left: 0;
    bottom: -100%;

    transition: all ease 0.3s;
}
#nav-p2 h4 a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;
}
#nav-p2 h4:hover a{
    color: white;
    
}
#nav-p2 h4:hover::after{
     bottom: 0;
    border-radius: 50px;
}
img{
    height: 110px;
}
#center{
    height: 80vh;
    width: 100%;
    background-color: rgb(239, 234, 227);
    padding-left: 0%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: neu;
    border-bottom: 1px solid rgb(108, 106, 106);
}
#left h3{
    width: 30vw;
    font-size: 2vw;
    line-height: 2.5vw;
    padding-bottom: 4vw;
    /* padding-left: 2vw; */
    /* size: 10px; */
    /* padding-left: 30px; */
}
#center h1{
    font-size: 10vw;
    padding-right: 1.5vw;
    line-height: 8vw;
    text-align: right;
    padding-top: 20vw;
    padding-bottom: 4vw;
}
#page1 video{
    /* padding-top: 2vw; */
    margin-top: 4vw;
    width: 93vw;
    border-radius: 20px;
    position: relative;
}
#hero-shape{
    position: absolute;
    width:26vw;
    height: 36vw;
    right: 0%;
    top: 87vh;
    
}
#hero-1 {
    background-color: #FE320A;
    height: 70%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(30px);
    position: absolute;
}
#hero-2{
    height: 30vw;
    width: 30vw;
    /* padding-top: 10vw; */
    background-color: #FE320A;
    filter: blur(20px);
    border-radius: 50%;
    position: absolute;
    animation-name: anime1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
#hero-3{
    background: linear-gradient(#FE320A, rgb(233, 100, 70));
    height: 30vw;
    width: 30vw;
    background-color: #FE320A;
    filter: blur(30px);
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 4s;
    margin-top: 4vw;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
@keyframes anime1{
    from{
        transform: translate(10%,0%);
    }to{
        transform: translate(-15%,5%);
    }
    
}
@keyframes anime2{
    from{
        transform: translate(10%,-20%);
    }to{
        transform: translate(-10%,10%);
    }
    
}

#page2{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(239, 234, 227);
    padding: 5vw 0;
    position: relative;

}
#moving-text{
    white-space: nowrap;
    overflow-x: auto ;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
#con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 11.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
#moving-text h1{
    font-size: 140px;
    display: inline-block;


}
#gola{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FE320A;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move{
    from{
        transform: translateX(0);
    }to{
        transform: translateX(-100%);
    }
}
#bottom-p2{
    height: 80vh;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3px;
    position: relative;
    z-index: 9;

}
/* #bottom-part2 img{
    height: 200px;
    border-radius: 8%;
    padding-bottom: 15px;
    padding-right: 50px;
    width: 100%;
} */
#bottom-p2 h4{
    font-size: 4vw;
    padding: 4vw;
    padding-left: 6vw ;
    padding-top: 15vw;
    /* padding-right: ; */
     width: 65%; 
     font-family: bold;
     font-weight: 200;
}
#bottom-part2{
    padding-right: 6vw;
    padding-top: 20%;
}
#bottom-part2 img{
    height: 200px;
    /* padding-bottom: 60px; */
    border-radius: 15px;
    width: 100%;
}
#bottom-part2 p{
    font-size: 18px;
    width: 100%;
    text-align: left;
    padding-top: 40px;
    font-family: light;
}
#page2 #gool{
    height: 35vw;
    width: 35vw;
    top: 60%;
    left: 25%;
    border-radius: 50%;
    background: linear-gradient(to top right , #fc620a,rgb(254, 106, 32));
    filter: blur(30px);
    position: absolute;
    animation-name: move1;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes move1{
    from{
        transform: translate(10%, -10%) skew(10);
        filter: blur(30px);
    }to{
        filter: blur(20px);
        transform: translate(-10%,10%) skew(-13deg);
    }
}
/* #gool1{
    height: 30vw;
    width: 30vw;
    top: 10%;
    left: 25%;
    border-radius: 50%;
    background: linear-gradient(rgb(254, 51, 10),rgb(229, 204, 135));
    filter: blur(30px);
    position: absolute;
} */


#page3{
    background-color: rgb(239, 234, 227);
    min-height: 100vh;
    width: 100%;
    padding-top: 15vw;
    
}
.elem{
    position: relative; 
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    /* border-bottom: 10px; */
    padding: 0vw 2vw;
    border-bottom: 1px solid rgb(171, 171, 171);
    overflow: hidden;
}
.elem h2{
    font-size: 2.5vw;
    position: relative;
    z-index: 9;
    transition: all ease 0.3s;
}
.elem .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: orange; */
    left: 0;
    top: -100%;
    transition: all ease 0.3s;
}
.elem:hover .overlay{
    top: 0  ;
    background-color: rgb(255, 152, 49);
}

#fixed-img{
    height: 28vw;
    width: 23vw;
    /* background-color: red; */
    border-radius: 25px;
    position: fixed;
    z-index: 99;
    left: 52%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}

#gold{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #FE330A;
}
#sec{
    display: flex;
    gap: 0.5vw;
    padding : 3vw 2vw;
    flex-wrap: wrap;
    align-items: center;
}

#page4{
    height: 0%;
    width: 0%;
    background-color: rgb(239, 234, 227);
    position: relative;
}

#page5{
    height: 105vh;
    width: 100%;
    background-color: transparent;
    position: relative;
}
#footer{
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0.5vw 3vw;
    /* justify-content: space-between; */
}
#footer h1{
    color: rgb(239, 234, 227);
    position: relative;
    font-size: 23vw;
    /* text-align: center; */
}
#footer_div{
    /* height: 15vh; */
    width: 25%;
    /* display: flex; */
    position: relative;
    align-items: center;
    padding: 6.2vw 5.7vw;
    color: rgb(239, 234, 227);
    padding-bottom: 4vw;
    /* justify-content: space-between; */
}
/* #footer_div #h4{ */
    /* font-size: 15px; */
    /* padding-top: 10000vw; */
/* } */

#footer_bottom{
    border-top: 1px solid rgb(239, 234, 227);
    height: 10vh;
    width: 100%;
}

#email{
    color: rgb(239, 234, 227);
    display: flex;
    flex-direction: column;
    gap: 2vw;
    /* width: 30%; */
    padding-right: 2vw;
    padding-bottom:36.5vw;
    margin-left: 0%;
    right: 0;
    position: absolute;
}
#email h4{
    display: block; 
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-align: right; 
    font-family: light;
    font-size: 22px;
}

/* #badaGola{
    position: absolute;
    width:26vw;
    background-color: aqua;

    height: 36vw;
    left: 80vh;
    right: 15vh;
    top: 550vh;
}

    @keyframes anime3 {
        0% {
            transform: translate(50%, -100%);
        }
        25% {
            transform: translate(20%, -50%);
        }
        50% {
            transform: translate(10%, 10%);
        }
        75% {
            transform: translate(30%, -60%);
        }
        100% {
            transform: translate(20%, -98%);
        }
    }
    
    

@keyframes anime4{
    from{
        transform: translate(-50%,-85%);
    }to{
        transform: translate(-110%,-100%);
    }
    
}
#bg1{
    background: linear-gradient(#FE320A, rgb(233, 100, 70));
    height: 5vw;
    width: 5vw;
    background-color: #FE320A;
    filter: blur(50px);
    border-radius: 50%;
    position: absolute;
    animation-name: anime3;
    animation-duration: 8s;
    margin-top: 4vw;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
} */
/* #bg2{
    background: linear-gradient(#FE320A, rgb(233, 100, 70));
    height: 70vw;
    width: 70vw;
    background-color: #FE320A;
    filter: blur(30px);
    border-radius: 50%;
    position: relative;
    animation-name: anime4;
    animation-duration: 8s;
    margin-top: 4vw;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
} */

#loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;
      
    }
}